name: come right now CICD

on:
  push:
    branches: ['develop']
  pull_request:
    branches: ['develop']

jobs:
  buildAndDeploy:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [16.15.1]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - name: build files
        working-directory: ./
        run: npm run build

      - name: aws μ„Έν…
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Deploy to S3
        run: aws s3 sync ./dist/ s3://jigeumgo-dev-frontend --delete
